<setting-container header="Spin Wheel Settings" collapsed="true">
    <firebot-input input-title="Name" model="effect.EventData.props.name"
        placeholder="Enter a name for the spin Wheel."></firebot-input>
    <div class="effect-specific-title" style="margin-bottom: 10px; margin-top: 10px; width: 100%">
        <h4>easing</h4>
    </div>
    <div class="btn-group" style="margin-bottom: 10px; margin-top: 10px; width: 100%">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <span class="change-scene-type-effect-type">{{effect.EventData.easingLabel ? effect.EventData.easingLabel :
                "default (easeSinOut)"}}</span> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li ng-click="effect.reset = false">
                <a ng-click="setEasingType(0)" href>default (easeSinOut)</a>
            </li>
            <li ng-click="effect.reset = false">
                <a ng-click="setEasingType(1)" href>easeSinInOut</a>
            </li>
            <li ng-click="effect.reset = true">
                <a ng-click="setEasingType(2)" href>easeCubicOut</a>
            </li>
            <li ng-click="effect.reset = true">
                <a ng-click="setEasingType(3)" href>easeCubicInOut</a>
            </li>
            <li ng-click="effect.reset = true">
                <a ng-click="setEasingType(4)" href>easeElasticOut</a>
            </li>
            <li ng-click="effect.reset = true">
                <a ng-click="setEasingType(5)" href>easeBounceOut</a>
            </li>
        </ul>
    </div>

    <div class="effect-specific-title setting-padtop">
        <h4>Image</h4>
    </div>
    <div class="effect-setting-content">
        <div style="padding-bottom: 10px;width: 100%;" ng-hide="effect.imageType === 'folderRandom'">
            <img ng-show="showImage" ng-src="{{getImagePreviewSrc()}}" imageonload="imageLoaded"
                style="height: 100px;width: 175px;object-fit: scale-down;background: #d7d7d7">
            <img ng-hide="showImage" src="{{placeHolderUrl}}"
                style="height: 100px;width: 175px;object-fit: scale-down;background: #d7d7d7">
        </div>

        <div class="controls-fb-inline" style="padding-bottom: 5px;">
            <label class="control-fb control--radio">Local file
                <input type="radio" ng-model="effect.imageType" value="local" ng-change="imageTypeUpdated()" />
                <div class="control__indicator"></div>
            </label>
            <label class="control-fb control--radio">URL
                <input type="radio" ng-model="effect.imageType" value="url" ng-change="imageTypeUpdated()" />
                <div class="control__indicator"></div>
            </label>
            <label class="control-fb control--radio">Random from folder
                <input type="radio" ng-model="effect.imageType" value="folderRandom" ng-change="imageTypeUpdated()" />
                <div class="control__indicator"></div>
            </label>
        </div>
        <div ng-if="effect.imageType === 'folderRandom'" style="display: flex;flex-direction: row;align-items: center;">
            <file-chooser model="effect.imageFolder"
                options="{ directoryOnly: true, filters: [], title: 'Select Image Folder'}"></file-chooser>
        </div>
        <div ng-if="effect.imageType === 'local'" style="display: flex;flex-direction: row;align-items: center;">
            <file-chooser model="effect.imageFile"
                options="{ filters: [ {name: 'Image', extensions: ['svg', 'jpg', 'gif', 'png', 'jpeg']} ]}"></file-chooser>
        </div>
        <div ng-if="effect.imageType === 'url'">
            <input type="text" class="form-control" ng-model="effect.imageUrl" placeholder="Enter url"
                replace-variables>
        </div>
    </div>

    <label class="control-fb control--checkbox" style="margin-top:15px"> Show Debug Box's
        <input type="checkbox" ng-model="effect.EventData.props.debug">
        <div class="control__indicator"></div>
    </label>
    <firebot-input input-title="Duration" model="effect.displayDuration"
        placeholder="Enter time in seconds."></firebot-input>

    <div class="effect-specific-title setting-padtop" style="margin-top:15px">
        <h4>Align</h4>
    </div>
    <div class="controls-fb" style="padding-bottom: 5px;">
        <label class="controls-fb control--radio">Left
            <input type="radio" ng-model="effect.EventData.props.itemLabelAlign" value="left" />
            <div class="control__indicator"></div>
        </label>
        <label class="control-fb control--radio">Center
            <input type="radio" ng-model="effect.EventData.props.itemLabelAlign" value="center" />
            <div class="control__indicator"></div>
        </label>
        <label class="control-fb control--radio">Right
            <input type="radio" ng-model="effect.EventData.props.itemLabelAlign" value="right" />
            <div class="control__indicator"></div>
        </label>
    </div>

    <div class="effect-specific-title setting-padtop" style="margin-top:15px">
        <h4>file or list</h4>
    </div>
    <div class="controls-fb" style="padding-bottom: 5px;">
        <label class="controls-fb control--radio">file
            <input type="radio" ng-model="effect.fileOrList" value="file" />
            <div class="control__indicator"></div>
        </label>
        <label class="control-fb control--radio">list
            <input type="radio" ng-model="effect.fileOrList" value="list" />
            <div class="control__indicator"></div>
        </label>
    </div>
    <div class="ml-4">
        <span class="clickable" style="color: #fb7373;" ng-click="resetDefault();" aria-label="Reset All Settings">
            <i>Reset All Settings</i>
        </span>
    </div>
</setting-container>

<setting-container header="Choices" pad-top="true" collapsed="true" ng-if="effect.fileOrList === 'list'">
    <div class="input-group" style="width: 100%;">
        <div ng-repeat="item in effect.EventData.props.items track by $index" class="list-item">
            <div class="item ml-8" style="font-weight: 400;width: 100%;margin-bottom: 10px;">
                <div>
                    <div style="margin-bottom: 10px;">
                        <firebot-input input-title="Label:" model="item.label"
                            placeholder="Enter a name for the wheel item."></firebot-input>
                    </div>
                    <firebot-input input-title="Weight:" model="item.weight"
                        placeholder="Weight % for item."></firebot-input>
                </div>
            </div>
            <div class="ml-4">
                <span class="clickable" style="color: #fb7373;"
                    ng-click="removeItemAtIndex($index);$event.stopPropagation();" aria-label="Remove item">
                    <i class="fad fa-trash-alt" aria-hidden="true"></i>
                </span>
            </div>
        </div>
        <p class="muted" ng-show="effect.EventData.props.items.length < 1">No items added.</p>
        <div class="mx-0 mt-2.5 mb-4">
            <button class="filter-bar" ng-click="addSpinWheelItem()" uib-tooltip="Add item"
                tooltip-append-to-body="true" aria-label="Add item">
                <i class="far fa-plus"></i>
            </button>
        </div>
    </div>
</setting-container>

<setting-container header="File" pad-top="true" collapsed="true" ng-if="effect.fileOrList === 'file'">
    <file-chooser model="effect.filePath" options="{ filters: [ {name:'Text',extensions:['txt']} ]}"></file-chooser>

    <div class="effect-info alert alert-warning">
        "weight" is optional
        Here is a file template:
        <br>[
        <br> {
        <br> "label":"text1",
        <br> "weight": 2.8
        <br> },
        <br> {
        <br> "label":"text1",
        <br> "weight": 1.5
        <br> }
        <br>]
    </div>

</setting-container>

<setting-container header="Colors" pad-top="true" collapsed="true">
    <div class="input-group" style="width: 100%;padding: 15px 0px 10px 0px;">
        <b>Item Label Colors</b>
        <div ng-repeat="color in effect.EventData.props.itemLabelColors track by $index" class="list-item">
            <div class="item ml-8" style="font-weight: 400;width: 100%;margin-bottom: 10px;">
                <div>
                    <div style="margin-bottom: 10px;">
                        <b>Item Label Color</b>
                        <color-picker-input model="effect.EventData.props.itemLabelColors[$index]"
                            label="Label Color"></color-picker-input>
                    </div>
                </div>
            </div>
            <div class="ml-4">
                <span class="clickable" style="color: #fb7373;"
                    ng-click="removeItemLabelColorsAtIndex($index);$event.stopPropagation();" aria-label="Remove item">
                    <i class="fad fa-trash-alt" aria-hidden="true"></i>
                </span>
            </div>
        </div>
        <p class="muted" ng-show="effect.EventData.props.itemLabelColors.length < 1">No Item Label Colors added.</p>
        <div class="mx-0 mt-2.5 mb-4">
            <button class="filter-bar" ng-click="addSpinWheelItemLabelColor()" uib-tooltip="Add Item Label Colors"
                tooltip-append-to-body="true" aria-label="Add Item Label Colors">
                <i class="far fa-plus"></i>
            </button>
        </div>
    </div>

    <div class="itemBackgroundColors">
        <div class="input-group" style="width: 100%;padding: 15px 0px 10px 0px;">
            <b>Item Background Colors</b>
            <div ng-repeat="color in effect.EventData.props.itemBackgroundColors track by $index" class="list-item">
                <div class="item ml-8" style="font-weight: 400;width: 100%;margin-bottom: 10px;">
                    <div>
                        <div style="margin-bottom: 10px;">
                            <b>Item Background Color</b>
                            <color-picker-input model="effect.EventData.props.itemBackgroundColors[$index]"
                                label="Embed Color"></color-picker-input>
                        </div>
                    </div>
                </div>
                <div class="ml-4">
                    <span class="clickable" style="color: #fb7373;"
                        ng-click="removeItemBackgroundColorsAtIndex($index);$event.stopPropagation();"
                        aria-label="Remove item">
                        <i class="fad fa-trash-alt" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <p class="muted" ng-show="effect.EventData.props.items.length < 1">No items added.</p>
            <div class="mx-0 mt-2.5 mb-4">
                <button class="filter-bar" ng-click="addSpinWheelItemBackgroundColor()" uib-tooltip="Add item"
                    tooltip-append-to-body="true" aria-label="Add item">
                    <i class="far fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
</setting-container>


<!--
        <eos-container header="Advanced Settings" class="setting-padtop">
          <label class="control-fb control--checkbox">Show Advanced Settings
            <input type="checkbox" ng-model="effect.isAdvancedSettings">
            <div class="control__indicator"></div>
          </label>
          <div ng-show="effect.isAdvancedSettings" class="ml-6 mb-10">
            <div class="input-group" style="margin-bottom: 10px;">
              <span class="input-group-addon">Width (in pixels)</span>
              <input class="form-control" type="number" min="1" max="10000" ng-model="effect.width">
              <span class="input-group-addon">Height (in pixels)</span>
              <input class="form-control" type="number" min="1" max="10000" ng-model="effect.height">
            </div>

            <p>This defines the size of the (invisible) box that the above timer will be placed in.</p>

            <label class="control-fb control--checkbox"> Show Debug Border <tooltip text="'Show a red border around the timer to make it easier to see its position.'"></tooltip>
              <input type="checkbox" ng-model="effect.debugBorder" />
              <div class="control__indicator"></div>
            </label>

            <p>Align</p>
            <label class="control-fb control--radio">Top
              <input type="radio" ng-model="effect.align" value="flex-start" />
              <div class="control__indicator"></div>
            </label>
            <label class="control-fb control--radio">Center
              <input type="radio" ng-model="effect.align" value="center" />
              <div class="control__indicator"></div>
            </label>
            <label class="control-fb control--radio">Bottom
              <input type="radio" ng-model="effect.align" value="flex-end" />
              <div class="control__indicator"></div>
            </label>
          </div>
        </eos-container>

        <eos-container header="Overlay positioning" class="setting-padtop">
          <label class="control-fb control--checkbox">Show Overlay Settings
            <input type="checkbox" ng-model="effect.isOverlaySettings">
            <div class="control__indicator"></div>
          </label>
        </eos-container>
        <div ng-show="effect.isOverlaySettings">

          <eos-overlay-position effect="effect" class="setting-padtop"></eos-overlay-position>

          <eos-enter-exit-animations effect="effect" class="setting-padtop"></eos-enter-exit-animations>

          <eos-overlay-instance effect="effect" class="setting-padtop"></eos-overlay-instance>
        </div>
    -->
<eos-container header="Overlay" class="setting-padtop">
    <eos-overlay-instance effect="effect" class="setting-padtop"></eos-overlay-instance>
    <div class="effect-info alert alert-warning">
        This effect requires the Firebot overlay to be loaded in your broadcasting software. <a href
            ng-click="showOverlayInfoModal(effect.overlayInstance)" style="text-decoration:underline">Learn more</a>
    </div>
</eos-container>