<div>
    <!-- <setting-container header="Spin Wheel Settings" collapsed="true"> -->
    <div>
        <firebot-input input-title="Name" model="effect.EventData.props.name"
            placeholder="Enter a name for the spin Wheel."></firebot-input>
        <eos-container header="Easing" pad-top="true">
            <dropdown-select options="easingFunctions" selected="effect.easingLabel"
                on-update="setEasingType()"></dropdown-select>
        </eos-container>

        <eos-container header="Image" pad-top="true">
            <div class="effect-setting-content">
                <div style="padding-bottom: 10px;width: 100%;" ng-hide="effect.imageType === 'folderRandom'">
                    <img ng-show="showImage" ng-src="{{getImagePreviewSrc()}}" imageonload="imageLoaded"
                        style="height: 100px;width: 175px;object-fit: scale-down;background: #d7d7d7">
                    <img ng-hide="showImage" src="{{placeHolderUrl}}"
                        style="height: 100px;width: 175px;object-fit: scale-down;background: #d7d7d7">
                </div>

                <div class="controls-fb-inline" style="padding-bottom: 5px;">
                    <label class="control-fb control--radio">Local file
                        <input type="radio" ng-model="effect.imageType" value="local" ng-change="imageTypeUpdated()" />
                        <div class="control__indicator"></div>
                    </label>
                    <label class="control-fb control--radio">URL
                        <input type="radio" ng-model="effect.imageType" value="url" ng-change="imageTypeUpdated()" />
                        <div class="control__indicator"></div>
                    </label>
                    <label class="control-fb control--radio">Random from folder
                        <input type="radio" ng-model="effect.imageType" value="folderRandom"
                            ng-change="imageTypeUpdated()" />
                        <div class="control__indicator"></div>
                    </label>
                </div>
                <div ng-if="effect.imageType === 'folderRandom'"
                    style="display: flex;flex-direction: row;align-items: center;">
                    <file-chooser model="effect.imageFolder"
                        options="{ directoryOnly: true, filters: [], title: 'Select Image Folder'}"></file-chooser>
                </div>
                <div ng-if="effect.imageType === 'local'"
                    style="display: flex;flex-direction: row;align-items: center;">
                    <file-chooser model="effect.imageFile"
                        options="{ filters: [ {name: 'Image', extensions: ['svg', 'jpg', 'gif', 'png', 'jpeg']} ]}"></file-chooser>
                </div>
                <div ng-if="effect.imageType === 'url'">
                    <input type="text" class="form-control" ng-model="effect.imageUrl" placeholder="Enter url"
                        replace-variables>
                </div>
            </div>
        </eos-container>

        <eos-container header="Rotation" pad-top="true">
            <div class="volume-slider-wrapper">
                <rzslider rz-slider-model="effect.EventData.props.rotation" rz-slider-options="
                    {
                        floor: 0,
                        ceil: 360,
                        step: 1,
                        precision: 1,
                        hideLimitLabels: true,
                        showSelectionBar: true
                    }"></rzslider>
            </div>
        </eos-container>

        <eos-container header="Item Label Radius" pad-top="true">
            <div class="volume-slider-wrapper">
                <rzslider rz-slider-model="effect.EventData.props.itemLabelRadius" rz-slider-options="
                    {

                        floor: 0.00,
                        ceil: 1.00,
                        step: 0.01,
                        precision: 2,
                        hideLimitLabels: true,
                        showSelectionBar: true
                    }"></rzslider>
            </div>
        </eos-container>

        <eos-container header="Item Label Rotation" pad-top="true">
            <div class="volume-slider-wrapper">
                <rzslider rz-slider-model="effect.EventData.props.itemLabelRotation" rz-slider-options="
                    {
                        floor: 0,
                        ceil: 360,
                        step: 1,
                        precision: 1,
                        hideLimitLabels: true,
                        showSelectionBar: true
                    }"></rzslider>
            </div>
        </eos-container>

        <eos-container header="Line Width" pad-top="true">
            <div class="volume-slider-wrapper">
                <rzslider rz-slider-model="effect.EventData.props.lineWidth" rz-slider-options="
                {
                floor: 0,
                ceil: 5,
                step: 1,
                precision: 1,
                hideLimitLabels: true,
                showSelectionBar: true
                }"></rzslider>
            </div>
        </eos-container>

        <eos-container header="Border Width" pad-top="true">
            <div class="volume-slider-wrapper">
                <rzslider rz-slider-model="effect.EventData.props.borderWidth" rz-slider-options="
             {
             floor: 0,
             ceil: 5,
             step: 1,
             precision: 1,
             hideLimitLabels: true,
             showSelectionBar: true
             }"></rzslider>
            </div>
        </eos-container>

        <eos-container header="Border Color" pad-top="true">
            <div class="item ml-8" style="font-weight: 400;width: 100%;margin-bottom: 10px;">
                <div>
                    <div style="margin-bottom: 10px;">
                        <color-picker-input model="effect.EventData.props.borderColor"
                            label="Border Color"></color-picker-input>
                    </div>
                </div>
            </div>
        </eos-container>

        <eos-container header="Debugging" pad-top="true">
            <label class="control-fb control--checkbox" style="margin-top:15px"> Show Debug Box's
                <input type="checkbox" ng-model="effect.EventData.props.debug">
                <div class="control__indicator"></div>
            </label>
        </eos-container>

        <eos-container header="Align">
            <firebot-radios options="{ left: 'Left', center: 'center', right: 'Right' }"
                model="effect.EventData.props.itemLabelAlign" inline="true" style="padding-bottom: 5px;" />
        </eos-container>

        <eos-container header="List">
            <firebot-radios options="{ list: 'List', file: 'File', variable: 'Variable' }" model="effect.fileOrList"
                inline="true" style="padding-bottom: 5px;" />
        </eos-container>

        <div class="ml-4">
            <span class="clickable" style="color: #fb7373;" ng-click="resetDefault();" aria-label="Reset All Settings">
                <i>Reset All Settings</i>
            </span>
        </div>
        <!-- </setting-container> -->
    </div>

    <setting-container header="Choices" pad-top="true" collapsed="true" ng-if="effect.fileOrList === 'list'">
        <div class="input-group" style="width: 100%;">
            <div ng-repeat="item in effect.EventData.props.items track by $index" class="list-item">
                <div class="item ml-8" style="font-weight: 400;width: 100%;margin-bottom: 10px;">
                    <div>
                        <div style="margin-bottom: 10px;">
                            <firebot-input input-title="Label:" model="item.label"
                                placeholder="Enter a name for the wheel item."></firebot-input>
                        </div>
                        <firebot-input input-title="Weight:" model="item.weight"
                            placeholder="Weight % for item."></firebot-input>
                    </div>
                </div>
                <div class="ml-4">
                    <span class="clickable" style="color: #fb7373;"
                        ng-click="removeItemAtIndex($index);$event.stopPropagation();" aria-label="Remove item">
                        <i class="fad fa-trash-alt" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <p class="muted" ng-show="effect.EventData.props.items.length < 1">No items added.</p>
            <div class="mx-0 mt-2.5 mb-4">
                <button class="filter-bar" ng-click="addSpinWheelItem()" uib-tooltip="Add item"
                    tooltip-append-to-body="true" aria-label="Add item">
                    <i class="far fa-plus"></i>
                </button>
            </div>
        </div>
    </setting-container>

    <setting-container header="Variable" pad-top="true" collapsed="true" ng-if="effect.fileOrList === 'variable'">
        <div style="margin-bottom: 10px;">
            <firebot-input input-title="Array Variable:" model="effect.variable"
                placeholder="Enter a name for the wheel item."></firebot-input>
        </div>

        <div class="effect-info alert alert-warning">

            <div style="padding-top:10px">
                <a ng-click="openLink('https://github.com/CKY-/Firebot-spin-wheel/blob/main/README.md')"
                    class="clickable" uib-tooltip="View File Documentation" aria-label="View File Documentation"
                    tooltip-append-to-body="true">
                    Documentation
                </a>
            </div>
        </div>
    </setting-container>

    <setting-container header="File" pad-top="true" collapsed="true" ng-if="effect.fileOrList === 'file'">
        <file-chooser model="effect.filePath" options="{ filters: [ {name:'Text',extensions:['txt']} ]}"></file-chooser>

        <div class="effect-info alert alert-warning">

            <div style="padding-top:10px">
                <a ng-click="openLink('https://github.com/CKY-/Firebot-spin-wheel/blob/main/README.md')"
                    class="clickable" uib-tooltip="View File Documentation" aria-label="View File Documentation"
                    tooltip-append-to-body="true">
                    Documentation
                </a>
            </div>
        </div>
    </setting-container>

    <setting-container header="Colors" pad-top="true" collapsed="true">
        <div class="input-group" style="width: 100%;padding: 15px 0px 10px 0px;">
            <b>Item Label Colors</b>
            <div ng-repeat="color in effect.EventData.props.itemLabelColors track by $index" class="list-item">
                <div class="item ml-8" style="font-weight: 400;width: 100%;margin-bottom: 10px;">
                    <div>
                        <div style="margin-bottom: 10px;">
                            <b>Item Label Color</b>
                            <color-picker-input model="effect.EventData.props.itemLabelColors[$index]"
                                label="Label Color"></color-picker-input>
                        </div>
                    </div>
                </div>
                <div class="ml-4">
                    <span class="clickable" style="color: #fb7373;"
                        ng-click="removeItemLabelColorsAtIndex($index);$event.stopPropagation();"
                        aria-label="Remove item">
                        <i class="fad fa-trash-alt" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <p class="muted" ng-show="effect.EventData.props.itemLabelColors.length < 1">No Item Label Colors added.</p>
            <div class="mx-0 mt-2.5 mb-4">
                <button class="filter-bar" ng-click="addSpinWheelItemLabelColor()" uib-tooltip="Add Item Label Colors"
                    tooltip-append-to-body="true" aria-label="Add Item Label Colors">
                    <i class="far fa-plus"></i>
                </button>
            </div>
        </div>

        <div class="itemBackgroundColors">
            <div class="input-group" style="width: 100%;padding: 15px 0px 10px 0px;">
                <b>Item Background Colors</b>
                <div ng-repeat="color in effect.EventData.props.itemBackgroundColors track by $index" class="list-item">
                    <div class="item ml-8" style="font-weight: 400;width: 100%;margin-bottom: 10px;">
                        <div>
                            <div style="margin-bottom: 10px;">
                                <b>Item Background Color</b>
                                <color-picker-input model="effect.EventData.props.itemBackgroundColors[$index]"
                                    label="Embed Color"></color-picker-input>
                            </div>
                        </div>
                    </div>
                    <div class="ml-4">
                        <span class="clickable" style="color: #fb7373;"
                            ng-click="removeItemBackgroundColorsAtIndex($index);$event.stopPropagation();"
                            aria-label="Remove item">
                            <i class="fad fa-trash-alt" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                <p class="muted" ng-show="effect.EventData.props.items.length < 1">No items added.</p>
                <div class="mx-0 mt-2.5 mb-4">
                    <button class="filter-bar" ng-click="addSpinWheelItemBackgroundColor()" uib-tooltip="Add item"
                        tooltip-append-to-body="true" aria-label="Add item">
                        <i class="far fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </setting-container>



    <!--
        <eos-container header="Advanced Settings" class="setting-padtop">
          <label class="control-fb control--checkbox">Show Advanced Settings
            <input type="checkbox" ng-model="effect.isAdvancedSettings">
            <div class="control__indicator"></div>
          </label>
          <div ng-show="effect.isAdvancedSettings" class="ml-6 mb-10">
            <div class="input-group" style="margin-bottom: 10px;">
              <span class="input-group-addon">Width (in pixels)</span>
              <input class="form-control" type="number" min="1" max="10000" ng-model="effect.width">
              <span class="input-group-addon">Height (in pixels)</span>
              <input class="form-control" type="number" min="1" max="10000" ng-model="effect.height">
            </div>

            <p>This defines the size of the (invisible) box that the above timer will be placed in.</p>

            <label class="control-fb control--checkbox"> Show Debug Border <tooltip text="'Show a red border around the timer to make it easier to see its position.'"></tooltip>
              <input type="checkbox" ng-model="effect.debugBorder" />
              <div class="control__indicator"></div>
            </label>

            <p>Align</p>
            <label class="control-fb control--radio">Top
              <input type="radio" ng-model="effect.align" value="flex-start" />
              <div class="control__indicator"></div>
            </label>
            <label class="control-fb control--radio">Center
              <input type="radio" ng-model="effect.align" value="center" />
              <div class="control__indicator"></div>
            </label>
            <label class="control-fb control--radio">Bottom
              <input type="radio" ng-model="effect.align" value="flex-end" />
              <div class="control__indicator"></div>
            </label>
          </div>
        </eos-container>

        <eos-container header="Overlay positioning" class="setting-padtop">
          <label class="control-fb control--checkbox">Show Overlay Settings
            <input type="checkbox" ng-model="effect.isOverlaySettings">
            <div class="control__indicator"></div>
          </label>
        </eos-container>
        <div ng-show="effect.isOverlaySettings">

          <eos-overlay-position effect="effect" class="setting-padtop"></eos-overlay-position>

          <eos-enter-exit-animations effect="effect" class="setting-padtop"></eos-enter-exit-animations>

          <eos-overlay-instance effect="effect" class="setting-padtop"></eos-overlay-instance>
        </div>
    -->
    <setting-container header="Animations" pad-top="true" collapsed="true">
        <eos-enter-exit-animations effect="effect" class="setting-padtop"></eos-enter-exit-animations>
    </setting-container>

    <div class="effect-setting-container setting-padtop">
        <div class="effect-specific-title">
            <h4>Duration</h4>
        </div>
        <div class="effect-setting-content">
            <div class="input-group">
                <span class="input-group-addon">Seconds</span>
                <input type="text" class="form-control" aria-describedby="image-length-effect-type"
                    replace-variables="number" ng-model="effect.length">
            </div>
        </div>
    </div>
    <eos-overlay-instance effect="effect" class="setting-padtop"></eos-overlay-instance>
    <div class="effect-info alert alert-warning">
        This effect requires the Firebot overlay to be loaded in your broadcasting software. <a href
            ng-click="showOverlayInfoModal()" style="text-decoration:underline">Learn more</a>
    </div>
</div>